# Node.js (backend)
servidor/node_modules/
servidor/npm-debug.log
servidor/.env

# React (frontend)
cliente/node_modules/
cliente/.env
cliente/build/
cliente/dist/

# Archivos generales del proyecto
*.log
.DS_Store
